{% extends 'pf/base.html' %}

{% load static %}
{% block title%}HOME{% endblock title%}
{% block content %}

<br>
<br>
<div class="banner">


    <img alt="..." class="avtar-img" id="profile-pic1"
         src="https://www.shareicon.net/data/2015/09/24/106427_man_512x512.png"/></div>
<br>

<div class="banner-text"><br>
<!--    <h1>Full Stack Web Developer</h1>-->
    <h1>Machine Learning Engineer</h1>

    <hr/>
<!--    <p>HTML/CSS | Bootstrap | JavaScript | React | React Native | NodeJS | Express | MongoDB</p>-->
    <p>TensorFlow | PyTorch | Keras | AWS | Apache Spark | Docker | Jenkins | Django | MongoDB </p>

    <div class="container-fluid" style="background:white;  display:inline-block;">
        <ul>
            <li><img class="social" src="{% static 'pf/images/facebook.png' %}"></li>
            <li><img class="social" src="{% static 'pf/images/linkedin.png' %}"></li>
            <li><img class="social" src="{% static 'pf/images/twitter.png' %}"></li>
            <li><img class="social" src="{% static 'pf/images/youtube.png' %}"></li>
        </ul>
    </div>
</div>


{% endblock content%}
